{% extends "base.html" %}

{% block center_body %}


<div class="main_con clearfix">
	<div class="left_menu_con clearfix">
		<h3>用户中心</h3>
		<ul>
			<li><a href="{% url 'df_user:info' %}" class="active">· 个人信息</a></li>
			<li><a href="{% url 'df_user:order' '1' %}">· 全部订单</a></li>
			<li><a href="{% url 'df_user:site' %}">· 收货地址</a></li>
		</ul>
	</div>
	<div class="right_content clearfix">
		<h3 class="common_title2">全部订单</h3>

		{% for order in page %}

		<ul class="order_list_th w978 clearfix">
			<li class="col01">{{ order.odate }}</li>
			<li class="col02">订单号：{{ order.oid }}</li>
			{% if order.ois_pay %}
			<li class="col02 stress">已支付</li>
			{% else %}
			<li class="col02 stress">未支付</li>
			{% endif %}

		</ul>

		<table class="order_list_table w980">
			<tbody>
				<tr>
					<td width="55%">
						{% for detail in order.orderdetailinfo_set.all %}
						<ul class="order_goods_list clearfix">
							<li class="col01"><img src="/media/{{detail.goods.gpic}}"></li>
							<li class="col02">
								{{ detail.goods.gtitle }}<em class="good_price">{{ detail.goods.gprice }}</em>元/<em>{{ detail.goods.gunit }}g</em>
							</li>
							<li class="col03">{{ detail.count }}</li>
							<li class="col04">100元</li>
						</ul>
						{% endfor %}
					<td width="15%">{{ order.ototal }}元</td>
					{% if order.ois_pay %}
					<td width="15%">已付款</td>
					<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
					{% else %}
					<td width="15%">待付款</td>
					<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
					{% endif %}
				</tr>
			</tbody>
		</table>

		{% endfor %}

		<div class="pagenation">
			{% if page.has_previous %}
			<a href="{% url 'df_user:order' page.previous_page_number %}">上一页</a>
			{% endif %}

			{% for p in paginator.page_range %}
			{% if p == page.number %}
			<a href="{% url 'df_user:order' p %}" class="active">{{ p }}</a>
			{% else %}
			<a href="{% url 'df_user:order' p %}">{{ p }}</a>
			{% endif %}
			{% endfor %}

			{% if page.has_next %}
			<a href="{% url 'df_user:order' page.next_page_number %}">下一页</a>
			{% endif %}
		</div>
	</div>
</div>
<script>
$(function(){
	$('.col04').each(function(){
		count = $(this).prev().text();
		price = $(this).prev().prev().find('.good_price').text();
		total = parseFloat(count)*parseFloat(price)
		$(this).text(total + '元')
	})
})
</script>


{% endblock center_body %}